# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme_minimo_32_caracteres

# API
NEXT_PUBLIC_API_URL=http://localhost:4000

# Database
DATABASE_URL=postgresql://cortexauser:cortexapass@postgres:5432/cortexamonitor

# Redis
REDIS_URL=redis://redis:6379

# Proxmox
PROXMOX_HOST=https://192.168.1.100:8006
PROXMOX_TOKEN_ID=user@pam!token
PROXMOX_TOKEN_SECRET=changeme

# Cloudflare
CF_API_TOKEN=changeme
CF_ACCOUNT_ID=changeme
CF_TUNNEL_ID=changeme
